header{
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../images/fondoTortas.webp);
}
body{
    background-image: url(../images/wp4720671-color-pastel-wallpapers.jpg);
}
.cabecera{
    display:flex;
    align-items: center;
    justify-content:center;
    background-color: rgba(226, 43, 150, 0.105);
    height: 130px;
    
}
a{
    background-color: rgb(234, 200, 235);
    font-size: medium;
    text-decoration: none;
    
}
a :hover{
    transform:scale(1,1);
}

h1{
    margin-left: 1rem;
}
h2{
    text-align: center;
}

h3{
text-align: center;
font-size: medium;
}

.fotoHeader{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    row-gap: 0.5rem;
    width: 65%;


}
.fotoHeader1{
    width: 60%;
    height: 60%;
    margin: 0 auto;
}
p{
    text-align: center;
   }
   
input{
    margin-bottom: 0.5rem;
}
h5{
    margin-left: 1rem;
}
.formulario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 4rem auto;
    width: 100%;
    background-color: aliceblue;
    border:outset;
    border-color: rgba(25, 15, 34, 0.164);
    font-size: small;
 }

 .opciones{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    font-size: small;
 }

 .opciones h3{
    font-size: medium;
 }
 .card{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 2rem;
}

.ulUsuario{
    font-size: large;
}
.ulUsuario li{
    list-style: none;
    font-size: large , bolder;
    background-color: aliceblue;
    border:outset;
    width: 100%;
    margin:0 auto;
    align-items: center;
    justify-content: center;
}

 select{

    width: 80%;
 }

footer{
    background-color: rgba(227, 122, 227, 0.471);
    margin:0 auto;
    margin-top: 5rem;

}
textarea{
    width: 50%;
}

@media screen and (min-width:501px) and (max-width:960px){
    .fotoHeader{display:flex;
        flex-direction: row;
        justify-content: center;
        padding-bottom: 1rem;
        width: 40%;
        column-gap: 2rem;}
  
    }

    .formulario{
        width: 85%;
    }
    
    

    @media screen and (min-width:961px){
        .fotoHeader{
        display: flex;
        flex-direction: row;
        }
        .fotoHeader1{
            width: 20%;
        }
    .opciones{
        display: flex;
        flex-direction: row;
        font-size: small;
    }
    .opciones h3{
        font-size: small;
    }
    
    
    .formulario{
        width: 85%;
    }
    }

